@model UpMoneyProjesi.Models.Expense

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Expense</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExpensesFee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExpensesFee)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Customer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Customer.CustomerEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExpensesType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExpensesType.ExpensesName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ExpensesId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
