@model IEnumerable<UpMoneyProjesi.Models.Expense>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>


<table class="table" style="margin-left: 288px; margin-top: 91px;">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ExpensesFee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpensesType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ExpensesFee)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Customer.CustomerEmail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExpensesType.ExpensesName)
                </td>
                <td>
                    <form asp-action="EditExpense" asp-route-id="@item.ExpensesId" method="post" onsubmit="return confirm('Are you sure you want to delete this expense?');">
                        <button type="submit" class="btn btn-link" style=" margin-right: 50px;">Delete</button>
                    </form>

                </td>
            </tr>
        }
    </tbody>
</table>

